body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 0px;
    background-color: whitesmoke;
}

button {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
}

.nav-button-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 10.5rem;
    margin-bottom: 8rem;
}

#heading {
    font-size: 9rem;
    text-align: center;
    margin-bottom: 0;
    width: 100%; /* not sure if this makes a difference, adding anyway jic */
}

.subheading {
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1.5rem;  
}

.circle-button {
    color: white;
    background-color: black; /* default placeholder */
    height: 10rem;
    width: 10rem;

    /* to make text centered in div */
    text-align: center; 
    vertical-align: middle;
    line-height: 10rem; /* should always match width and height */

    font-size: 1rem;

    /* makes the border a circle */
    border-radius: 50%;
    border: 0px;

    transition: all 0.2s; /* makes it look smoother when you un-hover */
}

.nav-button:hover {
    height: 10.5rem;
    width: 10.5rem;
    line-height: 10.5rem;
}

.nav-button:active {
    height: 10rem;
    width: 10rem;
    line-height: 10rem;
}

.blue-button {
    background-color: blue;
}

.red-button {
    background-color: red;
}

.green-button {
    background-color: green;
}

.purple-button {
    background-color: purple;
}

.content-section {
    margin-bottom: 3rem;

    /* may want to remove this, or customise color for each section later */
    border: 5px solid black;
    border-radius: 10px;
    padding: 1rem;
}


.content-section .circle-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.content-section p {
    text-align: justify;
}

#red-section { 
    border-color: red;
}

#purple-section { 
    border-color: purple;
}

#blue-section { 
    border-color: blue;
}

#green-section { 
    border-color: green;
}

#topscroll-btn {
    position: fixed;
    top: 1.25rem;
    left: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: black;
    color: white;

    border: 1px solid black;
    border-radius: 10px;

    text-align: center; 
    vertical-align: middle;
    line-height: 3rem;

    font-size: 2rem;

    transition: all 0.1s;
}

#topscroll-btn:hover {
    height: 2.6rem;
    width: 2.6rem;
}

#topscroll-btn:active {
    height: 2.5rem;
    width: 2.5rem;
}

#coin-tosser-container {
    background-color: blue;
    color: white;
    width: 15rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#coin-tosser-result-container {
    min-width: 10rem;
    display: flex;
    align-items: center;
}

#coin-tosser-result {
    padding: 0;
    margin: 0;
}

.coin-tosser-button {
    border: 0px;
    border-radius: 10px;
    height: 3rem;
    width: 6rem;
    font-size: 1rem;
    color: black;
    background-color: white;
    transition: all 0.1s;
}

.coin-tosser-button:hover {
    height: 3.25rem;
    width: 6.25rem;
}

.coin-tosser-button:active {
    background-color: rgb(220, 220, 220);
    height: 3rem;
    width: 6rem;
}

.coin-tosser-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3.25rem;
    min-width: 6.25rem;
}

#coin-tosser-container p {
    margin: 0;
}

#green-section dt {
    color: green;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

#green-section dd {
    display: list-item;
    list-style-type: disc;
    text-align: justify;
}

#green-section a {
    color: green;
}

#purple-section ol {
    padding-left: 0;
    list-style-position: inside; /* places the number/dot within the padding */
}

#purple-section li {
    color: purple;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* I placed the content of each list item inside a span 
   so i can style the number differently, then reverse it*/
#purple-section li span { 
    color: black;
    font-weight: normal;
    font-size: 1.25rem;


    transition: all 0.1s;
}

#purple-section li span:hover { 
    color: purple;
    cursor: pointer;
}

#profile-img {
    border: 5px solid red;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    margin-right: 1rem;
    float: left;
}